<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="PhotoAndVideoPolicy,SelectedPhotoAccess" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pr1523101fi"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Pr1523101fi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.Pr1523101fi" />

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Pr1523101fi" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Pr1523101fi" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Pr1523101fi" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Pr1523101fi" />

        <activity
            android:name=".PhotoActivity"
            android:exported="false"
            android:theme="@style/Theme.Pr1523101fi" />

        <activity
            android:name=".MenuActivity"
            android:exported="false"
            android:theme="@style/Theme.Pr1523101fi" />

        <activity
            android:name=".ListenActivity"
            android:exported="false"
            android:theme="@style/Theme.Pr1523101fi" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Pr1523101fi" />

    </application>

</manifest>